:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #dbdce4 !important;
  }
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

button {
  background-color: #f9f9f9 !important;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
}

#app {
  display: flex;
  justify-content: center;
  width: 100%;
}

aside {
  min-width: 15%;
  margin-top: 1rem;
}

#content {
  max-width: 30%;
  margin: 1rem 5rem;
}
